/* This file will hold styles that are loaded using the same media query as the normal grid. */

.region-header-second-inner,
.region-sidebar-second-inner {
  padding-left: 5px;
  padding-right: 10px;
}
/*------------------------------------*\
	NAVIGATIONS CSS
\*------------------------------------*/
.zone-menu .block-nice-menus {
  width: 100%;
  float: left;
  margin-bottom: 0;
}
ul#main-menu,
.zone-menu ul.nice-menu,
.zone-menu ul.menu,
.zone-submenu ul.menu {
  text-align: left;
}
.zone-menu ul.menu li a {
  text-transform: uppercase;
  padding: 7px 20px;
  font-size: 120%;
}

/* Mobile CSS */
#block-om-maximenu-om-maximenu-1 {
  display: none;
}
.zone-submenu-wrapper,
.block-nice-menus,
.zone-menu .block-menu-block,
.zone-branding .block-search,
.zone-branding .block-system-user-menu {
  display: block;
}

/* User menu */
.block-system-user-menu {
  width: auto;
  margin-top: 30px;
}

/* Footer menu */
.zone-footer .block-menu {
  width: auto;
  float: left;
  width: 100%;
}
.zone-footer .block-menu .content ul.menu {
  float: left;
}
.zone-footer ul.menu li a {
  padding: 0px 10px;
}

/* Header */
.branding-data {
  width: 180px;
  text-align: left;
  padding: 40px 0;
}

h1.title {
  font-size: 180%;
}
.zone-content-wrapper h2.block-title {
  font-size: 150%;
}

/*------------------------------------*\
	NEWS CSS
\*------------------------------------*/

/* Block slideshow */
.view-article-slideshow .view-content {
  float: left;
  width: 220px;
  height: 350px;
  margin-right: 30px;
  margin-bottom: -10px;
  border-top-right-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  padding: 25px 20px 17px 30px;
}
.view-article-slideshow .views-field-field-image {
  width: 220px;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
.view-article-slideshow .views-field-title {
  float: none;
  padding-top: 0px;
  width: auto;
  text-align: left;
}
.view-article-slideshow .views-field-title a {
  font-size: 140%;
  line-height: 1.2
}

.view-article-slideshow .attachment {
  float: left;
  width: 380px;
}
.view-article-slideshow .attachment .view-content {
  width: 100%;
  margin: 0;
  padding-top: 30px;
}
.view-article-slideshow .attachment .views-field-field-image {
  width: 65px;
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.view-article-slideshow .attachment .views-field-title {
  font-size: 110%;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.view-article-slideshow .views-slideshow-pager-fields {
  margin-top: 0px;
  padding-bottom: 0px;
}

/* Article Slider - Large */
.view-article-slider-large .views-field-title {
  position: absolute;
  z-index: 10;
  bottom: 0;
}
/* Home topic block */
.block-topic-news .view-content .views-field-field-image {
  width: 150px;
  margin-right: 20px;
  margin-top: 0;
}
.block-topic-news .attachment .view-content .views-field-field-image {
  width: 80px;
}
.block-topic-news.block-topic-news-list .view-content .views-field-field-image {
  width: 100px;
}

/* Block breaking news */
.block.block-breaking-news {
  padding: 0;
}
.block-breaking-news h2.block-title {
  float: left;
  border: none;
  width: auto;
  margin: 10px 10px 10px 0;
  font-size: 120%;
}
.block-breaking-news .content {
  float: left;
  width: 600px;
}
.block-breaking-news .content .views-field-title a {
  padding-top: 10px;
}

/* List article */
.view-list-articles .views-field-field-image,
.view-list-articles .views-field-field-image img {
  width: 220px;
}
article.node-article.node-teaser .field-name-field-image,
article.node-article.node-teaser .field-name-field-image img
article.node-video.node-teaser .field-name-field-video,
article.node-video.node-teaser .field-name-field-video img,
article.node-photos.node-teaser .field-name-field-images,
article.node-photos.node-teaser .field-name-field-images img {
  width: 200px;
}
article.node-article.node-teaser .node-title a {
  font-size: 100%;
}

.field-name-field-related-news {
  width: 220px;
}


/* Block More news */
.view-more-news .views-row {
  width: 47%;
}
.view-more-news .views-row-1,
.view-more-news .views-row-3,
.view-more-news .views-row-5,
.view-more-news .views-row-7 {
  clear: left;
  padding-right: 20px;
}

/* Block header ad */
#block-block-13 {
  float: right;
}
/*------------------------------------*\
	PHOTO CSS
\*------------------------------------*/
/* List Photos */
.view-list-photos .views-row {
  width: 31%;
  clear: none;
  margin: 10px 1.6%;
}
.view-list-photos.view-list-photos-horizontal .views-row {
  width: 31%;
  margin: 0 1%;
}
.view-list-photos.view-list-photos-horizontal .views-row-1,
.view-list-photos.view-list-photos-horizontal .views-row-4,
.view-list-photos.view-list-photos-horizontal .views-row-7 {
  margin-left: 0;
}
.view-list-photos.view-list-photos-horizontal .views-row-3,
.view-list-photos.view-list-photos-horizontal .views-row-6,
.view-list-photos.view-list-photos-horizontal .views-row-9 {
  margin-right: 0;
}
.view-list-photos .views-row-1,
.view-list-photos .views-row-4,
.view-list-photos .views-row-7,
.view-list-photos .views-row-10 {
  margin-left: 0;
  clear: left;
}
.view-list-photos .views-row-3,
.view-list-photos .views-row-6,
.view-list-photos .views-row-9,
.view-list-photos .views-row-12 {
  margin-right: 0;
}

/* Photo Detail */
.galleryformatter .gallery-slides,
.galleryformatter .gallery-slides img {
  width: 660px;
}
/*------------------------------------*\
	VIDEO CSS
\*------------------------------------*/

/* List Videos */
.view-list-videos .views-row {
  width: 31%;
  clear: none;
  margin: 10px 1.5%;
}
.view-list-videos .views-row-1,
.view-list-videos .views-row-4,
.view-list-videos .views-row-7,
.view-list-videos .views-row-10 {
  margin-left: 0;
  clear: left;
}
.view-list-videos .views-row-3,
.view-list-videos .views-row-6,
.view-list-videos .views-row-9,
.view-list-videos .views-row-12 {
  margin-right: 0;
}

/* Latest video */
.block-video-block .jcarousel-skin-default .jcarousel-container-horizontal {
  width: 100%;
  padding: 0px;
}
.block-video-block .jcarousel-skin-default .jcarousel-item {
  width: 160px;
  margin: 0 10px 0 0;
}

/* Video node */
article.node-video .field-name-field-media iframe {
  height: 450px;
}

/*------------------------------------*\
	BLOCK CSS
\*------------------------------------*/
/* Block login */
.block-login input.form-text {
  width: 198px;
}

/* Block search */
.block-search {
  float: right;
  width: 220px;
  margin-top: 23px;
  margin-right: 50px;
}


.views-field-service-links ul.links {
  float: right;
}
.views-field-service-links ul.links li {
  float: right;
}

/* Footer block */
.block.block-social-icons {
  text-align: right;
  clear: right;
  width: auto;
  float: right;
  width: 250px;
  border: none;
  padding: 0;
}

/* Contact form */
.contact-form .form-item label {
  float: left;
  width: 180px;
  font-size: 110%;
  font-weight: bold;
}
.contact-form .form-item.form-type-checkbox label {
  float: none;
  font-size: 100%;
  font-weight: normal;
}
.contact-form .form-item .form-textarea-wrapper {
  float: left;
  width: 100%;
}
.contact-form .form-item.form-type-checkbox,
.contact-form .form-actions {
  margin-left: 0px;
  width: auto;
  clear: left;
  float: left;
}
.contact-form .form-actions {
  margin-left: 10px;
}

/* Footer block */
#block-block-8 {
  float: left;
  width: auto;
}
.zone-footer ul.menu li {
  padding-right: 20px;
}

/*------------------------------------*\
	OTHER STYLE CSS
\*------------------------------------*/
.one-half, .one-third, .two-third, .three-fourth, .one-fourth {
    float: left;
    margin-bottom: 25px;
	padding: 0;
    margin-right: 4%;
    position: relative;
}
.one-half {
    margin-right: 3%;
}
.one-fourth {
    margin-right: 2%;
}
.one-half.last, .one-third.last, .two-third.last, .three-fourth.last, .one-fourth.last {
  margin-right: 0;
}
.one-half {
  width: 48.5%;
}
.one-third {
  width: 30.6666%;
}
.two-third {
  width: 65.3332%;
}
.one-fourth {
  width: 23.5%;
}
.three-fourth {
  width: 74%;
}

/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
  display: inline;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12,
.push-13, .pull-13, .push-14, .pull-14, .push-15, .pull-15, .push-16, .pull-16 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 960px;
}

.container-16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-16 .grid-1 {
  width: 40px;
}

.container-16 .grid-2 {
  width: 100px;
}

.container-16 .grid-3 {
  width: 160px;
}

.container-16 .grid-4 {
  width: 220px;
}

.container-16 .grid-5 {
  width: 280px;
}

.container-16 .grid-6 {
  width: 340px;
}

.container-16 .grid-7 {
  width: 400px;
}

.container-16 .grid-8 {
  width: 460px;
}

.container-16 .grid-9 {
  width: 520px;
}

.container-16 .grid-10 {
  width: 580px;
}

.container-16 .grid-11 {
  width: 640px;
}

.container-16 .grid-12 {
  width: 700px;
}

.container-16 .grid-13 {
  width: 760px;
}

.container-16 .grid-14 {
  width: 820px;
}

.container-16 .grid-15 {
  width: 880px;
}

.container-16 .grid-16 {
  width: 940px;
}

/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-16 .prefix-1 {
  padding-left: 60px;
}

.container-16 .prefix-2 {
  padding-left: 120px;
}

.container-16 .prefix-3 {
  padding-left: 180px;
}

.container-16 .prefix-4 {
  padding-left: 240px;
}

.container-16 .prefix-5 {
  padding-left: 300px;
}

.container-16 .prefix-6 {
  padding-left: 360px;
}

.container-16 .prefix-7 {
  padding-left: 420px;
}

.container-16 .prefix-8 {
  padding-left: 480px;
}

.container-16 .prefix-9 {
  padding-left: 540px;
}

.container-16 .prefix-10 {
  padding-left: 600px;
}

.container-16 .prefix-11 {
  padding-left: 660px;
}

.container-16 .prefix-12 {
  padding-left: 720px;
}

.container-16 .prefix-13 {
  padding-left: 780px;
}

.container-16 .prefix-14 {
  padding-left: 840px;
}

.container-16 .prefix-15 {
  padding-left: 900px;
}

/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */

.container-16 .suffix-1 {
  padding-right: 60px;
}

.container-16 .suffix-2 {
  padding-right: 120px;
}

.container-16 .suffix-3 {
  padding-right: 180px;
}

.container-16 .suffix-4 {
  padding-right: 240px;
}

.container-16 .suffix-5 {
  padding-right: 300px;
}

.container-16 .suffix-6 {
  padding-right: 360px;
}

.container-16 .suffix-7 {
  padding-right: 420px;
}

.container-16 .suffix-8 {
  padding-right: 480px;
}

.container-16 .suffix-9 {
  padding-right: 540px;
}

.container-16 .suffix-10 {
  padding-right: 600px;
}

.container-16 .suffix-11 {
  padding-right: 660px;
}

.container-16 .suffix-12 {
  padding-right: 720px;
}

.container-16 .suffix-13 {
  padding-right: 780px;
}

.container-16 .suffix-14 {
  padding-right: 840px;
}

.container-16 .suffix-15 {
  padding-right: 900px;
}

/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-16 .push-1 {
  left: 60px;
}

.container-16 .push-2 {
  left: 120px;
}

.container-16 .push-3 {
  left: 180px;
}

.container-16 .push-4 {
  left: 240px;
}

.container-16 .push-5 {
  left: 300px;
}

.container-16 .push-6 {
  left: 360px;
}

.container-16 .push-7 {
  left: 420px;
}

.container-16 .push-8 {
  left: 480px;
}

.container-16 .push-9 {
  left: 540px;
}

.container-16 .push-10 {
  left: 600px;
}

.container-16 .push-11 {
  left: 660px;
}

.container-16 .push-12 {
  left: 720px;
}

.container-16 .push-13 {
  left: 780px;
}

.container-16 .push-14 {
  left: 840px;
}

.container-16 .push-15 {
  left: 900px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */

.container-16 .pull-1 {
  left: -60px;
}

.container-16 .pull-2 {
  left: -120px;
}

.container-16 .pull-3 {
  left: -180px;
}

.container-16 .pull-4 {
  left: -240px;
}

.container-16 .pull-5 {
  left: -300px;
}

.container-16 .pull-6 {
  left: -360px;
}

.container-16 .pull-7 {
  left: -420px;
}

.container-16 .pull-8 {
  left: -480px;
}

.container-16 .pull-9 {
  left: -540px;
}

.container-16 .pull-10 {
  left: -600px;
}

.container-16 .pull-11 {
  left: -660px;
}

.container-16 .pull-12 {
  left: -720px;
}

.container-16 .pull-13 {
  left: -780px;
}

.container-16 .pull-14 {
  left: -840px;
}

.container-16 .pull-15 {
  left: -900px;
}