/*
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';
*/

$colorViolet: #9966cc;
$colorVioletHover: #7540AA;
$colorVioletDisabled: #b59ad0;
$colorAlmostBlack: #222;

.block-aside {

  a {
    color: $colorAlmostBlack;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: $colorAlmostBlack;
        padding: 10.5px 11px;
        display: block;
        &:hover,
        &.current {
          color: #fff;
          background-color: $colorViolet;
          text-decoration: none;
        }
      }
    }
  }

  &.block-simplenews {
    a,
    ul li a {
      color: #fff;
    }
  }

}

.padding-small {
  padding: 3px 3px !important;
}

.views-field-comment-count {
  i {
    font-size: 25px;
    color: $colorViolet;
  }
  span.fb-comments-count {
    font-size: 16px;
    color: $colorViolet;
  }
}

.view-list-categories {
  .view-content {
    .views-row {
      float: left;
      width: 30%;
      padding-left: 10px;
      margin-bottom: 20px;
      .views-field-title a {
        color: $colorAlmostBlack;
        font-family: "Open Sans Condensed",Arial,Helvetica,Verdana,sans-serif;
        font-size: 110%;
        font-weight: bold;
      }
      .field-content {
        height: 230px;
        overflow-y: scroll;

        ul li {

          ul {
            margin-left: 10px;
            font-style: italic;
            li {
              list-style: circle;
            }
          }
        }
      }

      .views-field-title {
        position: relative;
        .expander {
          display: none;
        }
      }

      @media (max-width: 980px) {
        width: 100%;
        border: 1px solid $colorViolet;
        font-size: 1.5em;
        .field-content {
          height: auto;
        }
        .views-field-title {
          .expander {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            i {
              float: right;
              height: 100%;
              line-height: 2em;
              margin-right: 20px;
              pointer-events: none;
            }
          }
        }
        .views-field-body {
          display: none;
        }
      }
    }
  }
}

.view-list-subcategories {
  .views-row {
    width: 47%;
    .views-field-field-image {
      position: relative;
      text-align: center;
      height: 175px;
      margin-bottom: 5px !important;
      img {
        width: auto !important;
        height: 175px;
      }
      @media (max-width: 980px) {
        height: auto;
        width: fit-content;
        margin: 0 auto;
        img {
          width: 100%;
          height: auto;
        }
      }
      .field-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        /*border: 1px solid red;*/
        outline: 1px solid rgba(153, 102, 204, 0.5);
        pointer-events: none;
        h3 {
          color: #fff;
          padding: 2px;
          border: 1px solid #9966cc;
          border-radius: 15%;
          position: absolute;
          width: calc(100% - 6px);
          bottom: 5px;
          background-color: rgba(153, 102, 204, 0.75);
          margin-bottom: 0;
          @media (max-width: 980px) {
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
          }
        }
      }
    }
    .views-field-title {
      margin-bottom: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .views-field-body {
      height: 100px;
      /*overflow-y: scroll;*/
      text-align: left;
      @media (max-width: 980px) {
        height: 140px;

      }
      a {
        display: block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        @media (max-width: 980px) {
          font-size: 1.5em;
        }
      }
    }
    .views-field-created {
      .a2a_kit_size_20 {
        display: block;
      }
      .a2a_kit_size_32 {
        display: none;
      }
      @media (max-width: 980px) {
        .a2a_kit_size_20 {
          display: none;
        }
        .a2a_kit_size_32 {
          display: block;
        }
      }
    }
    @media (max-width: 700px) {
      width: 100%;
    }
  }
}

.view-list-products {
  .views-row {
    .views-field-field-image {
      position: relative;
      text-align: center;
      height: 175px;
      margin-bottom: 5px !important;
      img {
        width: auto !important;
        height: 175px;
      }
      @media (max-width: 980px) {
        height: auto;
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
      .field-layer {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        /*border: 1px solid red;*/
        outline: 1px solid rgba(153, 102, 204, 0.5);
        pointer-events: none;
        span {
          color: #fff;
          padding: 2px;
          border: 1px solid #9966cc;
          border-radius: 15%;
          position: absolute;
          right: 3px;
          bottom: 3px;
          background-color: rgba(153, 102, 204, 0.75);
        }
      }
    }
    .views-field-title {
      margin-bottom: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .views-field-created {
      /*
      span .a2a_svg {
        width: 20px;
        height: 20px;
        line-height: 20px;
      }
      */
      .a2a_kit_size_20 {
        display: block;
      }
      .a2a_kit_size_32 {
        display: none;
      }
      @media (max-width: 980px) {
        .a2a_kit_size_20 {
          display: none;
        }
        .a2a_kit_size_32 {
          display: block;
        }
      }
    }
    .views-field-body {
      height: 70px;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}

div.toggleFavourites {
  color: gold;
  padding: 2px;
  border: 1px solid $colorViolet;
  border-radius: 15%;
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: rgba(153, 102, 204, 0.75);
  font-size: 2rem;
  pointer-events: auto;
  cursor: pointer;
  display: inline-flex;
  z-index: 10;
  &:hover {
    border: 1px solid gold;
    background-color: rgba(255, 215, 0, 0.75);
    color: $colorViolet;
  }
}

.item-list {
  clear: both;
  .pager li.pager-dots {
    padding: 5px 13px;
    float: none;
    border: 1px solid transparent;
  }
}

.block-title {
  display: inline-block;
  width: 100%;
  strong,
  span,
  a {
    display: block;
    float: left;
  }
  strong {
    color: $colorAlmostBlack;
  }
  span {
    margin: 0 4px;
  }
}

.block-product {
  .content {
    .head-container {
      .images {
        height: 300px;
        width: 50%;
        float: left;
        position: relative;
        .swiper-container {
          width: 100%;
          height: 300px;
          margin-left: auto;
          margin-right: auto;
        }
        .swiper-slide {
          background-size: cover;
          background-position: center;
        }
        .gallery-top {
          height: 80%;
          width: 100%;
          .swiper-button-next.swiper-button-white {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23#{$colorViolet}'%2F%3E%3C%2Fsvg%3E");
          }
          .swiper-button-prev.swiper-button-white {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23#{$colorViolet}'%2F%3E%3C%2Fsvg%3E");
          }
        }
        .gallery-top .swiper-slide {
          background-size: contain;
          background-repeat: no-repeat;
          a {
            cursor: zoom-in;
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .gallery-thumbs {
          height: 20%;
          box-sizing: border-box;
          padding: 10px 0;
        }
        .gallery-thumbs .swiper-slide {
          width: 25%;
          height: 100%;
          opacity: 0.4;
          cursor: pointer;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .gallery-thumbs .swiper-slide-active {
          opacity: 0.4; /*let's ignore this by making it equal to default state*/
        }

        .gallery-thumbs .swiper-slide.is-selected {
          opacity: 1;
        }
      }
      .actions {
        width: 50%;
        float: right;
        a.btn {
          i {
            color: gold;
          }
        }
        .show-characteristics, .hide-characteristics {
          color: white;
          i {
            color: white !important;
          }
          width: 80%;
          display: none;
          margin: 0 auto;
        }
      }
      .description {
        width: 50%;
        float: left;
      }
      .prices {
        a {
          display: block;
          color: #fff;
          padding: 5px;
          border-radius: 15%;
          background-color: $colorViolet;
          text-align: center;
          line-height: 1.2em;
          span {
            font-weight: bold;
            display: inline-block;
            color: gold;
            font-size: 1.4em;
          }
          &:hover {
            background-color: $colorVioletHover;
          }
        }
      }
      @media (max-width: 800px) {
        .images, .actions, .description {
          width: 100%;
          float: none;
        }

        .characteristics {
          display: none;
        }

        .actions .show-characteristics, .actions .hide-characteristics {
          display: block;
        }
      }
    }
  }
}


.float-left {
  float: left;
}

.float-right {
  float: right;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.mt-5 {
  margin-top: 50px !important;
}

.btn, .btn i {
  color: white;
}

.responsive-menu {
  border-top: 1px solid $colorVioletHover;
  .toggler {
    padding: 1px;
    display: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
    font-size: 1.35em;
    text-align: center;
    cursor: pointer;
    outline: none;
  }
  ul {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
    background: none;
    z-index: 15;
    list-style: none;
    position: relative;
    font: inherit;
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
    li {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      background: none;
      border: none;
      z-index: 1;
      float: left;
      position: relative;
      ul {
        display: none;
        font-size: 80%;
        > li {
          width: 100%;
          a {
            width: 100%;
            padding: 0px 20px;
            line-height: 20px;
          }
        }
      }
      a, span {
        background-color: $colorViolet;
        color: #fff;
        display: inline-block;
        padding: 15px 20px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 120%;
        font-family: "Open Sans Condensed", Arial,Helvetica,Verdana,sans-serif;
      }
      &:hover {
        > ul {
          display: block;
          position: absolute;
          left: 0;
          margin-left: 0;
        }
      }
      &.active, &:hover {
        > a {
          background-color: $colorVioletHover;
        }
      }
    }
  }

  @media (max-width: 800px) {
    border-top: none;
    /*margin-bottom: 10px;*/
    .toggler {
      display: block;
    }
    ul {
      display: none;
      li {
        border-bottom: 1px solid $colorVioletHover;
        overflow: hidden;
        &:last-of-type {
          border-bottom: none;
        }
        span {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          padding-left: 0;
          padding-right: 30px;
          text-align: right;
          background-color: transparent;
        }
        &:hover {
          > ul {
            display: none;
            position: relative;
            margin-left: 0;
          }
        }
        ul {
          font-size: 80%;
          padding-left: 20px;
          li a {
            padding: 15px 20px;
          }
        }
      }
      li, a {
        width: 100%;
      }
    }
  }

}

.sidebar-search {
  a {
    width: 20px;
    padding: 2px 5px;
    display: inline;
  }
}

.view-list-posts {
  .views-row {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    float: left;
    position: relative;
    padding: 0 5px;
    border-bottom: 1px solid #9966cc;
    &:last-child {
      border: none;
    }

    .views-left{
      display: block;
      float: left;
      width: 300px;

      .views-image {
        max-width: 300px;
      }
    }

    .views-right {
      display: block;
      overflow: hidden;
      padding: 0 10px 20px 10px;
      position: relative;
    }

    h2 {
      margin: 0;
    }

    .views-rightblock {
      position: absolute;
      bottom: 3px;
      right: 0;
    }

    .views-social {
      float: left;

      .a2a_kit_size_32 {
        display: none;
      }
    }

    .views-comment-count {
      float: right;

      i {
        font-size: 25px;
        color: #9966cc;
      }

      span.fb-comments-count {
        font-size: 16px;
        color: #9966cc;
      }
    }

    @media (max-width: 800px) {

      .views-left{
        display: block;
        width: 100%;
        text-align: center;

        .views-image {
          max-width: 100%;
        }
      }

      .views-tags {
        font-size: 120%;
      }

      .views-social {

        .a2a_kit_size_20 {
          display: none;
        }

        .a2a_kit_size_32 {
          display: block;
        }
      }
    }
  }
}